* {
  margin: 0;
  padding: 0;
}
body {
  color: white;
  text-align: center;
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 100vw;
}
.black {
  background-color: blueviolet;
}
img {
  width: 100%;
}
.card-body {
  margin: 2rem;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  justify-items: center;
}
.card {
  display: block;
  box-shadow: 5px 5px 15px -4px #000000;
  background-color: rgb(49, 67, 229);
  max-width: 80vw;
}
.card:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease 0;
}
a {
  text-decoration: none;
  color: white;
}
img,
.card {
  border-radius: 0.2rem;
}
