@import url("https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@400;600&display=swap");

:root {
  --text-color: black;
}
* {
  margin: 0;
  padding: 0;
}
body {
  color: var(--text-color);
  text-align: center;
  font-family: "Ysabeau SC", sans-serif;
  background-image: linear-gradient(to right, white, black);
  font-size: 14px;
}
h1 {
  text-decoration: underline;
  font-size: 2em;
  font-weight: 600;
}
.black {
  margin: 0 auto;
  max-width: 1600px;
}
nav {
  display: flex;
  padding: 1em;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100%;
}
.card-body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 1.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
}
.card {
  box-shadow: 5px 5px 15px -4px #000000;
  background-color: white;
  transition: transform;
}
.card:hover {
  transform: scale(1.01);
}
a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
}
.card {
  border-radius: 0.3em;
}
.gitRepo {
  display: none;
}
@media only screen and (width<=900px) {
  .card-body {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
@media only screen and (width<=425px) {
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  nav {
    justify-content: center;
  }
}
