*{
    margin: 0;
    padding: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  background: hsl(185, 75%, 39%) url("./images/bg-pattern-top.svg") no-repeat local -350px -350px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#card-txt{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 6rem;
    gap:0.8rem;
    width: 100%;
    font-size:18px;
    color:hsl(229, 23%, 23%);
    background-color: white;
   border-bottom-left-radius: 15px;
   border-bottom-right-radius: 15px;
}
#img-bg {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
#profile-pic {
  width: 8rem;
  border-radius: 50%;
  position: absolute;
  border: 0.6rem solid white;
  top:70px;
}
#info{
    display: flex;
    width: 60%;
    font-size: 1.5rem;
    justify-content: space-evenly;
}
#name{
    font-weight: bold;
}
#place{
    font-size:1.2rem; 
    color:hsl(227, 10%, 46%);
    padding-bottom: 1rem;  
}
#stats{
    padding-top: 1.5rem;
    display: flex;
    width: 100%;
    justify-content: space-around;
    border-top: 1px solid hsl(0, 0%, 80%);
    padding-bottom: 1.8rem;
    
}
.stat-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.num-stat{
    font-weight: bold;
    font-size:1.5rem;
}
.text-stat{
    color:hsl(227, 10%, 46%);
    font-size:0.9rem;
}
