@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');

:root{
    --font-family-one: 'Overpass', sans-serif;
    --font-family-two: 'Ubuntu', sans-serif;
    --Light-red-CTA-text: hsl(356, 100%, 66%);
    --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
    --Very-dark-blue-headings: hsl(208, 49%, 24%);
    --White-text: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
    --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
/* Background gradient - Intro/CTA mobile nav */
    --Very-light-red: hsl(13, 100%, 72%);
    --Light-red: hsl(353, 100%, 62%);
/* Background gradient - body: */
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
}
*{
    margin:0;
    padding:0;
    list-style: none;
}
body{
    font-size: 16px;
}
header{
    background-image: url("./Component/images/bg-pattern-intro-desktop.svg");
    background-repeat: no-repeat;
    background-size: 150%;
    background-color: var(--Very-light-red);
    background-position: left;
    padding:3em 3vw 3em 5vw;
    border-bottom-left-radius:5em;
}
nav{
    display: flex;
    justify-content: space-between;
}
#subNav{
    display: flex;
    align-items: center;
    gap:2em;
}