@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --Almost-White: hsl(0, 0%, 98%);
  --Medium-Gray: hsl(0, 0%, 41%);
  --Almost-Black: hsl(0, 0%, 8%);
}
body {
  max-width: 1440px;
  background-color: var(--Almost-White);
  margin: 0 auto;
  font-family: "Epilogue", sans-serif;
}
.crossMenu , .hamMenu{
    display: none;
    cursor: pointer;
}
p {
  font-size: 18px;
}
header {
  padding: 1.3em 2vw;
}
#logo {
  padding-top: 0.3em;
}
nav {
  display: flex;
  gap: calc(2em + 1.5vw);
  align-items: center;
}
.nav-items {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: var(--Medium-Gray);
  align-items: center;
  font-weight: 550;
  gap: 2vw;
}
.detail-list {
  display: flex;
  align-items: center;
  gap: calc(1.5em + 1vw);
}
.more-list {
  display: flex;
  align-items: center;
  gap: 8px;
}
.parent-list {
  position: relative;
}

.sub-list {
  position: absolute;
  color: var(--Medium-Gray);
  font-family: "Epilogue", sans-serif;
  font-weight: normal;
  font-size: 1em;
  top: 2.5em;

  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  justify-items: flex-start;
  padding: 1.8em;
  border-radius: 0.7em;
  width: max-content;
  box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
  animation-name: zoom;
  animation-duration: 500ms;
  display: none;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
}
.sub-display {
  display: flex;
}

.sub-list li {
  display: flex;
  gap: 1em;
}
.company ~ .sub-list {
  left: 0;
}
.features ~ .sub-list {
  right: 0;
}
.register-list {
  display: flex;
  align-items: center;
  gap: 1.5em;
}
.register {
  padding: 0.8em 1.2em;
  border-radius: 1.05em;
  border: 2px solid hsla(0, 0%, 45%, 0.766);
}
.register-list li:hover {
  color: var(--Almost-Black);
}
ul li:hover {
  cursor: pointer;
}
.detail-list .parent-list:nth-child(2) ~ li:hover {
  color: black;
}
.register:hover {
  border-color: var(--Almost-Black);
}

main {
  max-width: 100%;
  display: flex;
  max-height: calc(900px - 46.4px);
  padding-right: calc(0.2em + 7vw);
  padding-top: 2em;
  justify-content: space-between;
}
section {
  display: flex;
  flex-direction: column;
  padding-left: 9vw;
  padding-top: 9.5em;
  padding-right: 6vw;
  justify-content: space-between;
}
picture {
  width: 56%;
}
picture img {
  height: 100%;
  max-width: 100%;
}
section h1 {
  font-size: calc(3.5em + 2vw);
}
section p {
  padding-top: 1.8em;
  padding-bottom: 2em;
  max-width: 45ch;
  color: var(--Medium-Gray);
  line-height: 1.5em;
}
button {
  width: max-content;
  padding: 1em 2em;
  border-radius: 0.8em;
  color: var(--Almost-White);
  font-weight: bold;
  font-family: "Epilogue", sans-serif;
  font-size: 1.2em;
  border: 2px solid black;
  background-color: var(--Almost-Black);
}
button:hover {
  cursor: pointer;
  animation-name: full;
  animation-duration: 300ms;
  background-color: var(--Almost-White);
  color: var(--Almost-Black);
}
@keyframes full {
  from {
    background-color: rgba(0, 0, 0, 0.987);
    color: white;
  }
}
.client {
  width: 100%;
}
.client img {
  width: 100%;
}
.client {
  padding-top: 5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
  gap: 1.3em;
  justify-items: center;
  align-items: center;
}
footer {
  padding-top: 4em;
  text-align: center;
}
.down {
  display: none;
}
.up {
  display: none;
}
.showArrow {
  animation-name: turn;
  animation-duration: 500ms;
  display: block;
}
.colorChange {
  color: black;
}
@keyframes turn {
  to {
    transform: translateY(-5px);
  }
}
.features {
  font-size: 1em;
}
.company {
  font-size: 1em;
}

@media only screen and (max-width: 763px) {
  .nav-items {
    position: absolute;
    flex-direction: column;
    bottom:0;
    top:4em;
    background-color: var(--Almost-White);
    gap:0;
    animation-name: moveleft;
    animation-duration: 600ms;
    padding: 2em;
    display: none;
  }
  @keyframes moveleft {
    from{
        transform: translateX(5em);
    }
  }
  .show-nav-items{
    display: flex;
  }
  ul{
    right: 0;
    flex-direction: column;
    background-color: var(--Almost-White);
  }

  body {
    min-height: 100vh;
  }
  header {
    padding-right: 0.8em;
    padding-left: 0.8em;
    position: relative;
  }
  nav{
    justify-content:space-between;
  }
  .hamMenu{
    display: block;
  }
  .hamToggle{
    display: none;
  }
  .crossToggle{
    display: block;
  }
  main {
    flex-direction: column-reverse;
    padding: 0;
    max-height: none;
    padding-top: 0.5em;
  }
  picture {
    width: 100%;
    height: 100%;
  }
  picture img {
    width: 100%;
  }
  section {
    padding: 2em 0.8em;
    align-items: center;
    text-align: center;
  }
  section h1 {
    font-size: 2em;
    font-weight: bold;
  }
  .client {
    padding-top: 4.5em;
    text-align: center;
    grid-template-columns: repeat(4, minmax(30px, 1fr));
  }
}
