@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none;
}
:root {
  --Red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsla(203, 31%, 95%, 0.839);
  --font-family-heading-C2A-nav: "Barlow Condensed", sans-serif;
}
body {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  max-width: 1440px;
  min-height: 100vh;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}
main{
  overflow: hidden;
}
main::after {
  content: " ";
  width: 50vw;
  height: 22em;
  background-color: var(--Light-Grayish-Blue);
  position: absolute;
  border-bottom-left-radius: 5em;
  right: 0;
  top: 0;
  z-index: -1;
}
header {
  padding: 2em 6vw;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  font-family: var(--font-family-heading-C2A-nav);
  gap: 2em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: var(--Very-Dark-Blue);
}
li:last-child {
  padding-left: 2.5em;
  color: var(--Grayish-Blue);
}
main {
  padding-top: 2em;
  display: grid;
  grid-template-columns: minmax(100px, 0.8fr) 1.2fr;
  align-items: center;
  padding-left: 6vw;
}
main img {
  width: 130%;
  object-position: 1vw;
  position: relative;
  height: 100%;
  z-index: 4;
}

footer {
  text-align: center;
  font-size: 0.7em;
}
section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}
section div {
  display: flex;
  flex-direction: column;
}
h1 {
  font-family: var(--font-family-heading-C2A-nav);
  font-size: min(3.5em, 5vw);
  line-height: 1.1em;
  padding: 0.5rem 0em 1.2rem 0em;
  color: var(--Very-Dark-Blue);
}
.bottom {
  font-size: min(1.2em, 2vw);
  max-width: 30ch;
  color: var(--Dark-Grayish-Blue);
  font-family: "Barlow", sans-serif;
  text-transform: initial;
}
.top {
  display: flex;
  gap: 1.5em;
  color: var(--Grayish-Blue);
  font-family: var(--font-family-heading-C2A-nav);
  align-items: center;
}

.new {
  color: var(--Light-Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
  padding: 0.2em 0.8em;
  font-weight: bold;
  border-radius: 9em;
  text-align: center;
}
.new ~ span {
  letter-spacing: 0.2em;
}

button {
  background-color: var(--Red);
  text-transform: uppercase;
  font-family: var(--font-family-heading-C2A-nav);
  padding: 0.7em 1.5em;
  font-weight: bold;
  border-radius: 0.35em;
  font-size: 0.9em;
  border: 0px;
  color: var(--Light-Grayish-Blue);
  cursor: pointer;
}
button:hover {
  background-color: hsla(0, 100%, 68%, 0.728);
}
.btn-para {
  width: 100%;
  display: flex;
  gap: 0.8em;
  align-items: center;
}
li {
  position: relative;
}
li:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: transform 0.3s ease 0s;
  text-decoration: underline;
}
li:last-child:hover {
  color: rgba(128, 128, 128, 0.84);
}
@keyframes show {
  from {
    transform: translateX(2px);
  }
}

.live-preview {
  color: var(--Grayish-Blue);
  font-family: var(--font-family-heading-C2A-nav);
  letter-spacing: 0.2em;
  font-size: 0.9em;
}
.hamIcon,
.crossIcon {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 720px) {
  footer {
    padding-top: 2em;
  }
  .hamIcon {
    display: block;
  }
  header {
    padding: 1.2em;
    position: relative;
  }
  nav ul {
    display: none;
  }
  nav ul {
    -webkit-box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 20px 3px rgba(0, 0, 0, 0.2);
    position: absolute;
    background-color: white;
    border-radius: 0.25em;
    z-index: 8;
    flex-direction: column;
    top: 4em;
    left: 1.2em;
    right: 1.2em;
    text-align: center;
    padding: 1em;
  }
  li:last-child {
    padding: 0em;
    padding-top: 1.5em;
  }
  li:last-child {
    border-top: 1px solid hsl(231, 7%, 65%);
  }
  main {
    display: flex;
    flex-direction: column-reverse;
    gap: 3em;
    padding: 0;
    overflow: hidden;
  }
  section {
    padding:0em 1.5em;
  }
  main img{
    object-position: calc(7vw + 1.5em);
  }
  section div {
    align-items: flex-start;
    width: 100%;
  }
  h1 {
    font-size: 2em;
  }
  .bottom {
    font-size: 1em;
  }

  .top,
  .btn-para {
    gap: 1em;
    align-items: center;
    flex-wrap: wrap;
  }
  @keyframes fadeIn {
    from {
      transform: scale(0.1);
    }
  }
  .toggleHam {
    display: none;
  }

  .toggleCross {
    animation-name: fadeIn;
    animation-duration: 300ms;
    display: block;
  }
  @keyframes show {
    from {
      transform: scale(0.1);
    }
  }
  .displayNavigation {
    display: flex;
    animation-name: show;
    animation-duration: 300ms;
  }
}
@media only screen and (max-width:180px){
  *{
    word-break:break-all;
    padding:0;
  }
}
