@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
    --font-family-one: 'DM Serif Display', serif;
    --font-family-two: 'Karla', sans-serif;
    --Very-Dark-Violet: hsl(270, 9%, 17%);
    --Dark-Grayish-Violet: hsl(273, 4%, 51%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --Dark-Violet: hsl(256, 26%, 20%);
    --Grayish-Blue: hsl(216, 30%, 68%);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-size: 16px;
}
header{
    padding:1.7em 5vw;
    background-color: var(--Very-Light-Gray);
}

nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap:1.5em;
}
nav ul li a{
    color: var(--Dark-Grayish-Violet);
    font-family: var(--font-family-two);
    font-weight: bold;
    text-transform: uppercase;
}
nav ul li:last-child a{
    border: 2px solid var(--Very-Dark-Violet);
    color:var(--Dark-Violet);
    padding:0.5em 1.5em;    
}
picture img{
    width:30%;
}
h1,h2,h3{
    font-family: var(--font-family-one);
    font-weight: normal;
}
h1{
    font-size: 5em;
}
#intro-div{
    color: var(--Very-Light-Gray);
    background-repeat: no-repeat , no-repeat;
    background-color: var(--Dark-Violet);
    background-position: left , right;
    
}
#weRdifferent{
    padding:0em 5vw 4em 5vw;
    display: flex;
    flex-direction: column;
    gap:2.5em;
}
h2{
    color:var(--Very-Dark-Violet);
    font-size: 3em;
}
h3{
    color:var(--Dark-Violet);
    font-size: 1.6em;
}
h3 ~ p{
    color : var(--Dark-Grayish-Violet);
    font-family: var(--font-family-two);
    max-width: 40ch;
    font-size: 1.1em;
}
#weRdifferent div{
    display: flex;
    gap:0.8em;
}
#weRdifferent div div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:1.2em;
}
#findOut{
    padding:3em  5vw;
    margin-bottom: 2em;
}
#findOut div{
    display: flex;
    padding:1.5em 5vw;
    background-color: var(--Dark-Violet);
    justify-content: space-between;
    gap:1em;
    align-items: center;
    background-repeat:no-repeat;
    background-position:top right;
    background-image: url("images/bg-pattern-how-we-work-desktop.svg");
}
#findOut div h2{
    max-width: max(17ch,35%);
    color: var(--Very-Light-Gray);
}
#findOut div button{
    padding:1em 2em;
    color:var(--Very-Light-Gray);
    background-color: transparent;
    font-weight: 700;
    letter-spacing: 0.1em;
    border:2px solid var(--Very-Light-Gray);
    text-transform: uppercase;
}
footer{
    background-color: var(--Very-Light-Gray);
    padding:3em 5vw;
}
.logoAndIcons{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom:1.5em;
    flex-wrap: wrap;
    gap:1em;
}
.icons{
    display: flex;
    align-items: flex-end;
    gap:1.5em;
    justify-content: center;
    flex-wrap: wrap;
}
.logoAndIcons:after{
    content: "";
    background-color:hsla(276, 4%, 51%, 0.381);
    height: 1.5px;
    width: 100%;
    position: absolute;
    left:0;
    bottom:0;
}
.textFooter{
    display: flex;
}
.head-text{
    width: 100%;
    text-transform: uppercase;
    font-family: var(--font-family-two);
    font-weight: bold;
    color:hsl(273, 4%, 51%);
    padding-top: 2em;
    display: flex;
    flex-direction: column;
    gap:1.5em;
}
.head-text ul{
    display: flex;
    flex-direction: column;
    gap:0.5em;
    color:var(--Dark-Violet);
}
.attribution{
    text-align: center;
    padding-top:2em;
}
.firstClick{
    display: none;
}

@media only screen and (max-width: 633px){
    nav{
        gap:1em;
    }
    nav ul{
        display: none;
    }
    .firstClick{
        display: block;
    }
    .logo{
        max-width: 6em;
    }
    #weRdifferent{
        text-align: center;
    }
    #weRdifferent div{
       flex-direction: column;
       gap:2em;
       align-items: center;
       gap:3em;
    }
    #weRdifferent div div{
        align-items: center;
        text-align: center;
        padding:0em 0.5em;
    }
    #findOut div{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap:2.5em;
        background-position: top right;
        background-image: url("images/bg-pattern-how-we-work-mobile.svg");
    }
    .logoAndIcons{
        flex-direction: column;
        align-items: center;
        gap:1.5em;
    }
    .textFooter{
        flex-direction: column;
    }
    .head-text{
        text-align: center;
        align-items: center;
    }
}