*{
    margin: 0;
    padding: 0;
    text-align: center;
    color:gray;
}
body{
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeat-x hsl(225, 100%, 94%) url("./images/pattern-background-desktop.svg") top;
}
#card-body{
    display: flex;
    flex-direction: column;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0px 1px 18px 5px rgba(45,125,128,0.59);
}
#hero-img{
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
#card-txt{
    padding: 2rem;;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1.5rem;
}
#card-plan{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#music-icon{
    width: 2.5rem;
}
#detail{
    display: flex;
    gap:0.8rem;
}
#plan-money{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#plan{
    color:rgb(16, 16, 56);
    font-weight: bold;
}
#money{
    align-self: flex-start;
    font-size: 0.9rem;
}
.btn{
    width: 100%;
    border-radius: 0.3rem;
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.7rem;
    border:none;
    background-color: white;
}
.btn:hover{
    cursor: pointer;
}
#proceed-btn{
    background-color: hsl(245, 75%, 52%);
    color:white
}
#cancel-btn{
    color:gray;
}
#cancel-btn:hover{
    color:rgb(16, 16, 56);
}
#proceed-btn:hover{
    background-color: hsl(224, 23%, 55%);
}
#change{
    font-weight: 600;
    font-size:0.8rem;
    color: rgb(0, 11, 128);
}
#change:hover{
    text-decoration: none;
    color: hsl(224, 23%, 55%);
}
#btn-c{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap:0.5rem;
}
#heading{
    color:rgb(16, 16, 56);
    font-weight: bolder;
    font-size: 1.5rem;
}
#info{
    font-size:0.9rem;
}
footer{
    padding: 1rem;
}
