@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');
*{
  margin:0;
  padding: 0;
}
:root{
  --Homepage-Items: 14px;
  --Detail-Page: 16px; 
  --Cwhite: white;
  --bgdark: hsl(210, 23%, 17%);
  --darkElement: hsl(209, 23%, 22%);

}

body{
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  background-color: var(--bgdark);
  font-family: 'Nunito Sans', sans-serif;
  transition: background-color 0.7s linear ;
}
header{
  background-color: var(--darkElement);
  color:var(--Cwhite);
  padding:1.2rem 3.5vw;
  font-size: 1.5rem;
  font-weight: 650;
  transition: background-color 1s linear , color 1s linear ;
}
header div{
  display: flex;
  justify-content: space-between;
  gap:1.5rem;
  flex-wrap: wrap;
}
header div p{
  letter-spacing: 0.15rem;
}
header div button{
  cursor: pointer;
  background-color:transparent;
  outline: none;
  color:var(--Cwhite);
  font-size: 0.9rem;
  border: none;
}
main{
  padding:4rem 3.5vw;
  
}
.card-body{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap:3.5rem;
}
.card img{
  width: 100%;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  cursor: pointer;
}
.beforeClick{
  display: none;
}
.card{
  background-color: var(--darkElement);
  color:var(--Cwhite);
  border-radius: 0.4rem;
  
  box-shadow: 0px 0px 12px 5px rgba(0,0,0,0.26);
  transition: background-color 0.5s linear , color 0.5s linear ;
}
.card div , .det-card div{
  padding: 1rem 0.8rem 1.7rem 1.2rem;
  font-size:1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap:0.5rem;
  
}
.card div p:first-of-type , .det-card p:first-of-type{
  padding-bottom: 0.9rem;
  font-size: 1.5em;
  font-weight: 800;
}
.card div p span:nth-of-type(2){
  font-size: var(--Homepage-Items);
  font-weight: 300;
}
.det-body{
  background-color: var(--darkElement);
  color:var(--Cwhite);
  transition: background-color 0.5s linear , color 0.5s linear ;
}
.PNbutton{
  padding-top: 5rem;
  display: flex;
  gap:3em;
  align-items: center;
  justify-content: center;
  grid-column: span 4;
}
.tgbtn , .skbtn{
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  background-color:transparent;
  border-radius: 0.4rem;
  color:white;
  border-color: white;
  font-weight:bold;
}
.lbtn{
  color:black;
  border-color: black;
}
.whiteBg{
  --bgdark: hsl(0, 3%, 93%);
  color:hsl(200, 15%, 8%);
 
}
.whiteBgK{
  --darkElement: white;
  --Cwhite:hsl(200, 15%, 8%);
}
.detCard{
  display: none;
}
.newCard{
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.detCard button{
  align-self: flex-start;
}
.scountry-detail{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
  grid-template-rows: auto;
  box-shadow: none;
  background-color: transparent;
}
.scountry-detail img{
  min-height: 200px;
  height: 100%;
  border-radius: 0;
}


.scountry-detail div{
  font-size: var(--Detail-Page);
  display: grid;
  grid-template-columns: repeat(2,minmax(100px,1fr));
  gap:0;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}
.scountry-detail div p:first-of-type{
  grid-column: span 2;
}
.scountry-detail div p:last-of-type{
  padding-top: 1.2rem;
  grid-column: span 2;
  display: flex;
  gap:0.5rem;
}
.scountry-detail div p:last-of-type span:last-of-type{
  display: flex;
  gap:1.3rem;
  flex-wrap: wrap;
}
.scountry-detail div p span:nth-last-of-type(2){
  font-size: var(--Detail-Page);
}
.scountry-detail div p:last-of-type span:last-of-type button{
  width: max-content;
  padding: 0.3rem 1.3rem;
}
.scountry-detail div p{
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
footer{
  text-align: center;
  padding: 0.5rem;
}
.short{
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.nipt{
  width: 50%;
  height: 2rem;
  padding-left: 0.5rem;
  background-color: transparent;
  color:var(--Cwhite);
  font-size: 0.9rem;
  font-family:  'Nunito Sans', sans-serif;
  text-transform: capitalize;
}
label{
  display: none;
}
#region{
  background-color: var(--darkElement);
  border: 0px;
  outline: none;
  padding: 0.2rem 1rem;
  color: var(--Cwhite);
}
input::placeholder{
  color:var(--Cwhite);
}
input:focus{
  outline: none;
}
@media only screen and (width<=600px) {
  header div{
    justify-content: center;
    text-align: center;
  }
  .scountry-detail{
    display: flex;
    flex-direction: column;
  }
  .scountry-detail div{
    padding-left: 0;
  }
  .scountry-detail div p{
    grid-column: span 2;
  }
  .removBug{
    display: flex;
    flex-wrap: wrap;
    gap:0.4rem;
  }
  .nipt{
    width: 100%;
  }
}