@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 12px;
  font-family: "Kumbh Sans", sans-serif;
  background: no-repeat linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%))
    top;
  background-size: 100%;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: minmax(4rem,1fr) 5fr minmax(4rem,1fr);
}
img{
    width: 30%;
}
main{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
}
