@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
  margin:0;
  padding:0;
  list-style: none;
}
:root{
  --Dark-Blue-intro-and-email-sign-up-background: hsl(217, 28%, 15%);
  --Dark-Blue-main-background: hsl(218, 28%, 13%);
  --Dark-Blue-footer-background: hsl(216, 53%, 9%);  
  --Dark-Blue-testimonials-background: hsl(219, 30%, 18%);
  --Cyan-inside-call-to-action-gradient: hsl(176, 68%, 64%);
  --Blue-inside-call-to-action-gradient: hsl(198, 60%, 50%);
  --Light-Red-error: hsl(0, 100%, 63%);
  --White: hsl(0, 0%, 100%);
  --font-family-body: 'Open Sans', sans-serif;
  --font-family-heading-headerNav-c2action: 'Raleway', sans-serif;
}

body{
  background-color: black;
  color:white;
  font-size: 14px;
  font-family: var(--font-family-body);
}
#header{
  padding: 2em 2.5vw 0em 5vw;
}
#header nav{
  display: grid;
  background-color: red;
  grid-template-columns: minmax(max-content,2em) 1fr;
  align-items: center;
}
#logo-header{
  background-color: aqua;
}
#header nav ul{
  justify-self: flex-end;
  display: flex;
  padding:0.3em;
  background-color: blue;
  font-size: 1.3em;
  gap:2em;
}
#main{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#hero{
  padding: 0.5em;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: min-content;
}
#hero img{
  background-color: blue;
  width: 100%;
}
#hero h1{
  padding:1em 0em;
  font-size: 2.2em;
  width: 31ch;
  background-color: black;
}
#hero p{
  padding-bottom: 1em;
  font-size: 1.1em;
}
#hero button{
  color: var(--White);
  font-weight: bold;
  padding: 1em 4em;
  border:none;
  background-color: var(--Blue-inside-call-to-action-gradient);
  cursor: pointer;
  border-radius: 2em;
}
#allFunction{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap:1em;
  width: 100%;
  padding:5em 0;
  background-color: blue;
  justify-content: space-between;
}
.function{
  justify-self: center;
  max-width: min-content;
  background-color: red;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:0.5em;
}
.function p{
  width: 35ch;
}
#allCards{
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: space-evenly;
  gap:1em;
}
.card{
  padding: 2em 1em 1em 1em;
  background-color:orange;
  display: grid;
  grid-template-rows: repeat(3,auto);
  grid-template-columns: minmax(30px,50px) auto;
  align-items: center;
  grid-column-gap: 0.5em;
  max-width: max-content;
}
.userDesc{
  padding-bottom: 2em;
  grid-column: 1/-1;
  grid-row:1/2;
  max-width: 43ch;
}
.card img{
  width:100%;
  border-radius: 50%;
  grid-column: 1/2;
  grid-row: 2/4;
}
.userName{
  grid-column: 2/-1;
  grid-row:2/3;
}
.userWork{
  grid-row: 3/4;
  grid-column:2/-1;
}
#footer{
  background-color: var(--Dark-Blue-footer-background);
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding:4em 2.5vw 3em 5vw;
  gap:2em;
}
#footer-bucket{
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap:1em;
  font-weight: 300;
}
.footer-item{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:1.5em;
}
ul li{
  width: max-content;
}
#lorem{
  max-width: 28ch;
}
.icon-text{
  align-items: flex-start;
  display: flex;
  gap:1em;
}
