@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
:root{
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
    --Red-input-errors: hsl(0, 100%, 66%);
    --Font-size: 18px;
    --Weights: 500;
    --gradient-active-input-border: (hsl(249, 99%, 64%) , hsl(278, 94%, 30%));
}



*{
    margin:0;
    padding:0;
}
body{
    min-height: 100vh;
    background-position: top left;
    background-repeat: no-repeat;
    background-image: url("images/bg-main-desktop.png");
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}