@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');

*{
    margin:0;
    padding:0;
}
:root{
--Dark-Text: hsl(229, 25%, 31%);
--Score-Text: hsl(229, 64%, 46%);
--Header-Outline: hsl(217, 16%, 45%);
--Scissors-Gradient: linear-gradient(hsl(39, 89%, 49%) , hsl(40, 84%, 53%));
--Paper-Gradient: linear-gradient(hsl(230, 89%, 62%) , hsl(230, 89%, 65%));
--Rock-Gradient: linear-gradient(hsl(349, 71%, 52%) , hsl(349, 70%, 56%));
--Lizard-Gradient: linear-gradient(hsl(261, 73%, 60%) , hsl(261, 72%, 63%));
--Cyan: linear-gradient(hsl(189, 59%, 53%) , hsl(189, 58%, 57%));
}

body{
    min-height: 100vh;
    max-width: 1366px;
    margin:0 auto;
    display: grid;
    place-items: stretch;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background: linear-gradient(hsl(214, 47%, 23%) , hsl(237, 49%, 15%));
    background-repeat: no-repeat;
    background-size: 100%;
}
header {
    display: flex;
    justify-content: center;
}
.logo-score{
    border:2px solid white;
    border-radius: 0.5em;
    display: flex;
    gap:max(8vw,1.3rem);
}
footer{
    padding-top: 3em;
    color:white;
    text-align: center;
}
footer a{
    color:white;
    
}
.outer{
    padding:max(1.80vw,0.75rem);
}
#paper-bg{
    padding:max(2.3vw,0.8rem) max(2.6vw,1.1rem);
}
#rock-bg{
    padding:max(2.6vw,1.1rem);
}
#scissors-bg{
    padding:max(2.4vw,0.9rem) max(2.6vw,1.1rem);
}
#paper{
    background: var(--Paper-Gradient);
}
#rock{
    background: var(--Rock-Gradient);

}
#scissors{
    background: var(--Scissors-Gradient);
}
.outer{
    background-position: center;
    background-repeat: no-repeat;
    width: max-content;
    clip-path: circle(50% at 50% 50%);
}
.outer img{
    clip-path: circle(50% at 50% 50%);
    display: flex;
    justify-content: center;
    box-shadow: inset 2px 10px 1px -1px rgba(0,0,0,0.27);
    background-color: white;

}
main{
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap:max(1.5rem , 5vw);
}
#paper {
    justify-self:end;
}
#scissors{
    grid-column: span 2;
    justify-self: center;
}
@media only screen and (width<=1024px){
    .outer{
        padding:max(2.80vw,0.75rem);
    }
    #paper-bg{
        padding:max(3.3vw,0.8rem) max(3.9vw,1.1rem);
    }
    #rock-bg{
        padding:max(3.9vw,1.1rem);
    }
    #scissors-bg{
        padding:max(3.5vw,0.9rem) max(3.9vw,1.1rem);
    }
}