@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --Soft-Cyan-Full-Slider-Bar: hsl(174, 77%, 80%);
  --Strong-Cyan-Slider-Backround: hsl(174, 86%, 45%);
  --Light-Grayish-Red-Discount-Background: hsl(14, 92%, 95%);
  --Light-Red-Discount-Text: hsl(15, 100%, 70%);
  --Pale-Blue-CTA-Text: hsl(226, 100%, 87%);
  --White-Pricing-Component-Background: hsl (0, 0%, 100%);
  --Very-Pale-Blue-Main-Background: hsla(228, 100%, 99%, 0.941);
  --Light-Grayish-Blue-Empty-Slider-Bar: hsl(224, 65%, 95%);
  --Light-Grayish-Blue-Toggle-Background: hsl(223, 50%, 87%);
  --Grayish-Blue-Text: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue-Text-CTA-Background: hsl(227, 35%, 25%);
}
body {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("./images/bg-pattern.svg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: 100%;
  background-position: top;
  background-color: var(--Very-Pale-Blue-Main-Background);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  text-align: center;
  font-size: 15px;
  padding: 6em 7vw 5em 7vw;
  align-items: center;
  background-image: url("images/pattern-circles.svg");
  background-position: center;
  background-repeat: no-repeat;
}
header h1 {
  font-size: calc(1.3em + 0.8vw);
  font-weight: bold;
  color: hsl(240, 2%, 17%);
}
header p {
  font-size: 1em;
  color: var(--Grayish-Blue-Text);
}
main {
  background-color: white;
  box-shadow: 0px 3px 23px 7px rgba(0, 0, 0, 0.12);
  min-width: 50%;
  border-radius: 0.5em;
}
.card-body {
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.card-up {
  padding: 3em 2.5em 0em 2.5em;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.card-slider {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  grid-row-gap: 2.3em;
}

#slider-outer {
  
  position: relative;
  height: 0.5em;
  border-radius: 2em;
  
  width: 20vw;
  
  width: 100%;
}
input[type="range"]{
  grid-column:span 2;
  -webkit-appearance: none;
  width: 100%;
  height:12px;
  background: var(--Light-Grayish-Blue-Empty-Slider-Bar);
  border-radius: 1em;
  background-image: linear-gradient(var(--Soft-Cyan-Full-Slider-Bar), var(--Soft-Cyan-Full-Slider-Bar));
  background-size:20% 100%;
  background-repeat:no-repeat;
}
input[type="range"]::-webkit-slider-thumb{
  -webkit-appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:var(--Strong-Cyan-Slider-Backround);
  cursor: pointer;
  box-shadow: 2px 0 30px 2px var(--Strong-Cyan-Slider-Backround);
  transition: background 100ms ease-in;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: hsla(174, 86%, 45%, 0.85);
  background-image: url("images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center;
}

img {
  pointer-events: none;
}
.total-view {
  justify-self: start;
  font-size: 1em;
  letter-spacing: 0.1em;
  display: flex;
  gap: 0.3em;
  color: var(--Grayish-Blue-Text);
  text-transform: uppercase;
}

.per-month {
  grid-row: 1/2;
  grid-column: 2;
  justify-self: end;
  display: flex;
  align-items: center;
}
.per-month span ~ span {
  color: var(--Grayish-Blue-Text);
  font-size: 1.1em;
}
.per-month span:first-of-type {
  color: hsl(240, 2%, 17%);
  font-size: 3em;
  font-weight: 700;
}
.card-toggle {
  display: flex;
  gap: 1em;
  font-size: 0.9em;
  color: rgba(128, 128, 128, 0.839);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.toggle-surface {
  min-width: 3.4em;
  height: 1.4em;
  padding: 0.2em;
  border-radius: 2em;
  position: relative;
  background-color: var(--Light-Grayish-Blue-Toggle-Background);
}
.toggle-surface:active {
  background-color: var(--Soft-Cyan-Full-Slider-Bar);
}
.toggle-inner {
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  left: 0.2em;
  top: 0.2em;
  transition: transform 500ms;
  z-index: 3;
}
.toggle-right {
  transform: translateX(2em);
}
.year-discount {
  display: flex;
  gap: 0.7em;
  align-items: center;
}
.discount {
  color: var(--Light-Red-Discount-Text);
  background-color: var(--Light-Grayish-Red-Discount-Background);
  font-size: 0.75em;
  padding: 0.4em 0.9em;
  border-radius: 2em;
}
.card-down:after {
  content: "";
  position: absolute;
  height: 0.1px;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.442);
  top: -2.5em;
  left: 0;
}
.card-down {
  padding: 0em 2.5em 2.5em 2.5em;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5em;
  flex-wrap: wrap;
}
button {
  padding: 0.9em 3.5em;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  background-color: var(--Dark-Desaturated-Blue-Text-CTA-Background);
  color: var(--Pale-Blue-CTA-Text);
  border: none;
  border-radius: 9em;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 7px;
  color: var(--Grayish-Blue-Text);
  font-size: 1em;
}
footer {
  text-align: center;
  padding-top: 5em;
}
@media only screen and (max-width: 480px) {
  body {
    background-image: url("images/bg-pattern.svg");
    background-position: top;
    background-size: 180%;
  }
  header p {
    max-width: 22ch;
  }
  main {
    margin: 0 6vw;
  }
  .card-down {
    justify-content: center;
    gap: 2em;
  }
  li {
    font-size: 1em;
    display: flex;
  }
  button {
    padding: 0;
    padding: 3vw 12vw;
  }
  .card-slider {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
  #slider-outer {
    width: 90%;
  }
  .card-up {
    padding: 0;
    padding: 2em 2vw 0 2vw;
  }
  .card-down {
    padding: 0;
    padding: 0em 2vw 2em 2vw;
  }
}
