@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --Dark-Gray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --Very-Dark-Gray: hsl(0, 0%, 27%);
  --fs-head1: 3.8em;
  --fs-head2: 1.6em;
  --fs-p: 1.6em;
  --set-scale: 1;
  --line-width: 0em;
}
body {
  font-family: "League Spartan", sans-serif;
  max-width: 1440px;
  min-height: 100vh;
  display: grid;
  place-items: stretch;
  margin: 0 auto;
  font-size: 12px;
}
header {
  position: absolute;
  top: 2rem;
  padding-left: 3rem;
}
nav {
  display: flex;
  align-items: center;
  gap: 3vw;
}
ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 2vw;
}
li {
  font-size: 1.5em;
  text-transform: lowercase;
  color: var(--White);
}
.ham {
  display: none;
}
section {
  display: flex;
}
.about {
  display: flex;
  flex-direction: column;
}
.about-depict {
  width: 30%;
}
picture {
  flex-shrink: 2;
}
.hero-img {
  width: 100%;
  height: 100%;
}
.hero {
  max-width: 35%;
  flex-shrink: 3;
  padding: 4.5vw 3vw 2em 3vw;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}
h1 {
  font-size: var(--fs-head1);
}
.about {
  padding: 2rem;
  gap: 1.5rem;
}
h2 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--fs-head2);
  letter-spacing: 0.3em;
}
p {
  font-size: var(--fs-p);
  line-height: 1.2em;
  color: var(--Dark-Gray);
}
footer {
  text-align: center;
}
.hero {
  position: relative;
}
.angle img {
  width: 1.3em;
  padding: 0.8em;
}
.angle {
  width: max-content;
  background-color: black;
  align-items: center;
  gap: calc(2.9vw + 1em);
  display: flex;
  right: calc(100% - 2.9vw - 6.8em);
  bottom: 0;
  position: absolute;
}
.ctA {
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 1em;
  color: var(--Very-Dark-Gray);
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: 0.5em;
  padding: 1em 0em 3em 0em;
}
/* active states */
li {
  position: relative;
  cursor: pointer;
}
li:hover {
  --line-width: 100%;
  --set-scale: 0;
}
li:after {
  content: "";
  position: absolute;
  bottom: -6px;
  width: var(--line-width);
  right: 0;
  height: 3px;
  background-color: white;
  transform: scale(var(--set-scale));
  transition: transform 700ms ease-in-out;
}
.ctA span:hover {
  cursor: pointer;
  color: var(--Dark-Gray);
  letter-spacing: 0.6em;
  transition: letter-spacing 300ms ease-in-out;
}
.angle img:hover {
  cursor: pointer;
  background-color: var(--Dark-Gray);
  transition: background-color 400ms ease-in;
}

/* mobile media query */
.mob-nav {
  display: none;
}
@media only screen and (max-width: 588px) {
  :root {
    --fs-head1: 2.5em;
    --fs-head2: 1.3em;
    --fs-p: 1.3em;
  }
  .about-depict {
    width: 100%;
  }
  picture {
    display: flex;
  }
  .hero {
    max-width: 100%;
  }
  .ham {
    display: block;
    z-index: 10;
  }
  header {
    padding: 0rem;
    left: 1rem;
  }
  nav {
    gap: 3rem;
    flex-wrap: wrap;
  }
  ul {
    display: none;
  }
  section {
    flex-direction: column;
  }
  .about {
    padding: 3.4em 1.7em;
  }
  .hero {
    padding: 4.5em 1.7em;
  }
  .angle {
    bottom: 100%;
    right: 0;
  }
  .angle img {
    width: 1em;
    padding: calc(1vw + 1em);
  }
  .mob-nav {
    position: absolute;

    right: 0;
    left: 0;
    gap: calc(1em + 1vw);
    font-weight: bold;
    padding: 3em 1em;
    justify-content: flex-end;
    flex-wrap: wrap;
    z-index: 5;
    padding-left: 3em;
  }
  .mob-nav li {
    color: black;
  }
  .navhere {
    background-color: white;
    animation: moveDown 300ms ease-in;
    display: flex;
  }
  @keyframes moveDown {
    from {
      transform: translateY(-100%);
    }
  }
  .scroll {
    opacity: 0.7;
  }
}
.animate {
  animation: play 400ms;
}
@keyframes play {
  from {
    transform: scale(1.5);
  }
}
