body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: hsl(217, 54%, 11%);
  color: white;
  font-family: "Outfit", sans-serif;
}
main {
  display: flex;
  justify-content: center;
}
#card-body {
  width: 17em;
  border-radius: 0.5em;
  box-shadow: 1rem 1rem hsla(214, 64%, 13%, 0.776);
  border: 10px solid hsl(217, 54%, 11%);
}
#card {
  border-radius: 0.5em;
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  padding: 1em;
  align-content: space-between;
}
#card-txt {
  padding-top: 0.5em;
}
#card-title {
  font-size: 1.3em;
  font-weight: bold;
  padding-bottom: 0.5em;
}
#card-description {
  font-size: 1em;
  padding-bottom: 0.7em;
  color: rgba(225, 225, 225, 0.738);
}
#img-u {
  width: 15em;
  border-radius: 0.5em;
}
#card-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5em;
}
#time {
  display: flex;
  align-items: center;
  color: rgba(225, 225, 225, 0.738);
}
#price {
  display: flex;
  color: rgb(38, 222, 216);
  font-weight: bold;
}

#card-end {
  display: flex;
  align-items: center;
  margin-top: 0.7em;
}
#img-av {
  width: 2em;
  border-radius: 50%;
  border: 1px solid white;
}
#avatar-txt {
  margin-left: 1em;
  font-size: 0.95em;
  color: rgba(225, 225, 225, 0.738);
}
svg {
  margin-right: 0.5em;
}
#avatar-span {
  color: white;
}
#avatar-span:hover {
  color: rgb(38, 222, 216);
  cursor: pointer;
}
#card-title:hover {
  color: rgb(38, 222, 216);
  cursor: pointer;
}
#card-img {
  cursor: pointer;
  position: relative;
}
#card-img:hover::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgba(0, 255, 255, 0.5);
  background-image: url("./images/icon-view.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* background: no-repeat rgba(0, 255, 255, 0.5) url("/images/icon-view.svg") center; */
}
footer{
  align-self: center;
  
}
