* {
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 100vw;
    font-family: "Open Sans", sans-serif;
    background:no-repeat rgba(231, 255, 248, 0.766) url("images/bg-hero-desktop.svg") top;
    background-size:100%;
    font-size: 18px;
  }
  .pink{
    background-color: hsl(322, 100%, 66%);
    color:white;
    font-weight: bold;
    padding:0.8rem;
    border:none;
    margin:2rem 0rem 2rem 0rem;
    border-radius: 2rem;
  }
  .pink:hover{
    cursor: pointer;
    background-color: pink;
  }
  header{
    
    padding:4rem 5vw 4rem 5vw;
    display: grid;
    grid-template-columns: minmax(130px,0.7fr) repeat(3,1fr) minmax(100px,0.5fr) ;
  }
  .top-btn{
    background-color: white;
    color:hsl(192, 100%, 9%);
    font-weight: bold;
    border:none;
    border-radius:2rem;
    box-shadow: -1px 0px 3px 4px rgba(0,0,0,0.12);
    grid-column: 5/-1;
  }
  .logoheader{
    grid-column: 1/2;
    width: 100%;
  }
  main{
    padding:5vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap:5rem;
  }
  .first{
    background-color:rgba(231, 255, 248, 0.766) ;
  }
  .igrid{
    padding:3rem 6vw 3rem 6vw;
    display: grid;
    grid-template-columns: 1fr 1fr 0px 1fr 1fr;
    align-items: center;
    grid-column-gap:1rem;
  }
  .mockup{
    width: 100%;
    grid-column: 4/-1;
    grid-row:1/3;
  }
  .simg{
    justify-self: center;
  }
  .mock2up{
    grid-row:1/3;
    grid-column: 1/4;
  }
  h1 , h2{
    font-family:"Poppins",sans-serif;
  }
  #tgrid{
    grid-column: 4/-1;
  }
  .btn{
    align-self: flex-start;
    grid-row:2/3;
    width: 100%;
  }
  .sgrid{
    align-self: end;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(5,0.5fr);
    align-items: center;
    gap:1rem;
  }
  .herotext{
    grid-column: span 4;
    
  }
  .para{
    grid-row-start: 2;
    grid-column:1/-1;
  }
  .simg{
    width: 90%;
  }
  .card{
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 0px 11px 1px #8b8b8b5e;
  }
    .kgrid{
    grid-row:1/3;
    align-self: center;
  }
  .floatt{
    display: grid;
    grid-template-columns: minmax(0px,1fr) minmax(min-content,max-content) minmax(0px,1fr);
  }
  .gridT{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    grid-column: 2/3;
  }
  .floatT{
    padding:2rem 1.5rem 0rem 1.5rem;
    grid-column: 3/6;
  }
  .btnT{
    grid-column: 4/5;
  }

  footer{
    color:white;
    padding:2vw;
    padding-top:8em;
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.logofoot{
    align-self: start;
}
ul{
    list-style:none;
}
.gridf{
    display: grid;
    grid-template-columns:minmax(180px,1.5fr) 1fr 1fr 1fr;
    grid-column-gap:1rem;
}
.gridfc{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}
.gridfct{
    gap:1.2rem;
}
.lorem{
  max-width: 20rem;
}
.now{
    display: grid;
    grid-template-columns: 1rem 1fr;
    gap:1rem;
}
.attribution{
    text-align: center;
}
.icons{
    display: flex;
    gap:1rem;
}
.companytext{
    align-self:flex-end;
}
#logo-footer{
    width: 8rem;
  }
  .itemsfooter:hover, .oicon:hover{
    cursor: pointer;
    color: rgb(112, 211, 211);
  }
  @media screen and (max-width:510px){
    body{
      background:no-repeat rgba(231, 255, 248, 0.766) url("images/bg-hero-mobile.svg") top;
      background-size: 100%;
    }
    .igrid{
        display: block;
    }
    .igrid{
        text-align:center;
    }
    .herotext{
        grid-column: 1/-1;
    }
    .lorem{
        max-width: 20rem;
    }
    .gridf{
        display: flex;
        flex-direction: column;
        gap:2rem;
        align-items: flex-start;
       }
    .companytext{
        text-align: center;
        align-self: center;
    }
    .icons{
        align-self: center;
    }
    #mid_btn{
      max-width: 70%;
    }
  }